# Kotlin Multiplatform / Android / Xcode ignores
*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
build/
*.log

# iOS specific
Pods/
*.xcworkspace
DerivedData/
