# Kotlin Multiplatform / Android / Xcode ignores
*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
build/
*.log
.gradle/
.idea/
.kotlinc/
.kgp/
.konan/
.kotlin/

# iOS specific
Pods/
*.xcworkspace
DerivedData/
